{{!< default}}

{{#post}}

<header class="page-header" style="background-image: url({{image}})">
    <div class="page-header-cover">
        <div class="page-title-block">
            <h1 class="post-title">{{{title}}}</h1>
        </div>
    </div>
</header>

<nav id="page-navigation">
    <div class="navigation-content">
        {{#if @blog.logo}}
        <img class="logo" src="{{@blog.logo}}" />{{/if}}
        <div class="titles">
            <h1>{{@blog.title}}</h1>
            <p>{{@blog.description}}</p>
        </div>
        <ul class="menu">
            <li><a href="/">Blog</a></li>
            <li><a href="/tag/portfolio">Portfolio</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        {{> "social"}}
    </div>
</nav>

<article class="post-container post-container--single">

    <section class="{{post_class}}">
        {{content}}
    </section>

</article>

    {{!-- {{> comments}} --}}
{{/post}}
